importj.txt
[
    {
        "id": "e318783ad87964c4",
        "type": "mqtt in",
        "z": "b03d792a4383275d",
        "name": "",
        "topic": "Coolendar",
        "qos": "2",
        "datatype": "auto",
        "broker": "fddd4240218a47e2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "a0ed3cb32b95b6d8",
                "bda845dea67e69da"
            ]
        ]
    },
    {
        "id": "bda845dea67e69da",
        "type": "debug",
        "z": "b03d792a4383275d",
        "name": "Test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0ed3cb32b95b6d8",
        "type": "serial out",
        "z": "b03d792a4383275d",
        "name": "",
        "serial": "affd7a6ea2c27d78",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "fddd4240218a47e2",
        "type": "mqtt-broker",
        "name": "Coolendar",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "affd7a6ea2c27d78",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]